<!DOCTYPE html>
<html>
<head>
    <title>Getting Started: SpringBootApplication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Hello</div>
    <a href="/login">Login page</a>
</body>
</html>