<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login success page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>Login success!</div>

    <br />
    <a href="/messages">Messages</a>

    <br />
    <br />
    <form action="/logout" method="post">
        <div><input type="submit" value="Sign Out"/></div>
    </form>
</body>
</html>