<!DOCTYPE html>
<html>
<head>
    <title>Getting Started: SpringBootApplication</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Список пользователей</div>
    {{#users}}
        <div>
            <b>{{id}}</b>
            <span>{{name}}</span>
            <span>{{email}}</span>
        </div>
    {{/users}}
</body>
</html>