<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login success page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="text" placeholder="Введите сообщение" />
            <input type="file" name="file">
            <button type="submit">Добавить</button>
        </form>
    </div>
    {{#errors}}
        {{errors}}
    {{/errors}}

    <br>
    <div>Список сообщений</div>
    {{#page}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <strong>{{author}}</strong>
            {{#filename}}
                <img src="/e:/java/projects/springBoot/uploads/{{filename}}">
            {{/filename}}
        </div>
    {{/page}}
</body>
</html>